#ajax_response{
	border : 1px solid #8789E7;
	background : #FFFFFF;
	position:absolute;
	display:none;
	padding:2px 2px;
	top:auto;
	
}
#holder{
	width : 100px;
}
.list {
	padding:0px 0px;
	margin:0px;
	list-style : none;
	width : 1000px;
}
.list li a{
	text-align : left;
	padding:2px;
	cursor:pointer;
	display:block;
	text-decoration : none;
	color:#000000;
	width : 1000px;
}
.selected{
	background : #CCCFF2;
}
